.header {
  width: 100%;
  padding: 10px;
  background-color: $primary;
  box-shadow: $shadow;

  &--fixed {
    background-color: $black;
  }

  @media (max-width: 900px) {
    background-color: #fff;
  }
}

.header__title {
  margin: 0;

  font-size: 30px;
  color: $primary;
}